body {
	background-color: #eeeeee;
}

.App {
	font-size: 24px;
	margin: 0 auto;
}

.nav-header {
	background-color: #ffe600;
	justify-content: center;
	width: 100%;
}

section {
	display: grid;
	grid-column-gap: 24px;
	grid-template-columns: repeat(4, minmax(5px, 1fr));
	margin: 0 28px;
	padding-block: 18px;

	@media (min-width: 1024px) {
		grid-template-columns: repeat(12, minmax(5px, 1fr));
		margin: 0 72px;
	}

	@media (min-width: 1440px) {
		margin: 0 auto;
		max-width: 1296px;
	}
}

.meli-logo,
.meli-searchbar {
	display: flex;
	flex-direction: row;
}

.meli-logo {
	grid-column: 1;

	img {
		height: 34px;
		padding-block: 4px;
	}

	@media (min-width: 1024px) {
		grid-column: 2 / 3;
	}
}

.meli-searchbar {
	grid-column: 2 / -1;
	height: 40px;
	margin-inline-start: -24px;
	position: relative;

	@media (min-width: 1024px) {
		grid-column: 3 / -2;
		margin-inline-start: -24px;
	}

	&__form {
		display: flex;
		height: 100%;
		position: relative;
		width: 100%;

		&-input {
			border-color: rgba(0, 0, 0, 0);
			border-radius: 2px;
			border-style: solid;
			border-width: 1.5px;
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
			padding: 10px 60px 10px 15px;
			width: 100%;

			&:focus {
				border: 1.5px solid #3483fa;
				border-style: solid;
				border-width: 1.5px;
			}

			&:focus-visible {
				outline: none;
			}
		}

		&-button {
			background-color: #eeeeee;
			background-image: url("../../public/assets/meli-searchbar-icon.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: 20px;
			border: none;
			cursor: pointer;
			height: 38px;
			inset-block-start: 1px;
			inset-inline-start: calc(100% - 39px);
			margin-inline-end: 73px;
			position: absolute;
			width: 38px;

			&:hover {
				background-color: #999999;
			}
		}
	}
}
