.item-detail {
	&__wrapper {
		background-color: #ffffff;
		display: grid;
		gap: 16px 16px;
		grid-auto-flow: row;
		grid-template-areas:
			"Image"
			"button"
			"desc";
		grid-column: 1 / -1;
		grid-template-columns: 1fr;
		grid-template-rows: 2fr;
		list-style-type: none;
		padding: 32px;

		@media (min-width: 1024px) {
			grid-column: 2 / -2;
			grid-template-areas:
				"Image button"
				"desc desc";
			grid-template-columns: repeat(2, 1fr);
		}

		&-img {
			display: flex;
			grid-area: Image;
			justify-content: center;
			margin: 0 auto;
			max-width: 80%;
			width: 100%;

			@media (min-width: 1024px) {
				max-width: none;
				width: 680px;
			}

			img {
				width: 100%;

				@media (min-width: 1024px) {
					width: auto;
				}
			}
		}

		&-info {
			display: flex;
			flex-direction: column;
			grid-area: button;

			@media (min-width: 1024px) {
				padding-inline-end: 32px;
			}

			&-eyebrow {
				color: #999999;
				font-size: 14px;
				padding-bottom: 16px;
			}

			&-title {
				color: #333333;
				font-size: 24px;
				margin: 0;
				padding-bottom: 32px;
			}

			&-price {
				font-size: 46px;
				padding-bottom: 32px;
			}

			&-button {
				background-color: #3483fa;
				border-radius: 4px;
				border: none;
				color: #ffffff;
				cursor: pointer;
				padding-block: 16px;
				width: 100%;
			}
		}

		&-desc {
			color: #999999;
			grid-area: desc;
			max-width: 100%;

			@media (min-width: 1024px) {
				max-width: 680px;
			}

			h3 {
				color: #333333;
				font-size: 28px;
			}

			p {
				font-size: 16px;
				max-width: 100%;
			}
		}
	}
}
