.items-list {
	&__list {
		grid-column: 1 / -1;
		list-style-type: none;
		padding-inline-start: 0;

		@media (min-width: 1024px) {
			grid-column: 2 / -2;
		}

		&-element {
			background-color: #ffffff;
			border-bottom: thin solid #eee;
			max-width: 100%;
			padding: 16px;
			position: relative;

			&-link {
				color: #333333;
				display: flex;
				text-decoration: none;
				width: 100%;

				&:visited {
					color: #333333;
				}
			}

			&-img {
				border-radius: 4px;
				height: 180px;
				margin-inline-end: 16px;
				width: 180px;
			}

			&-info {
				max-width: 50%;
				padding-block: 16px;

				&-value {
					display: block;
					font-size: 24px;
					padding-bottom: 32px;
					padding-inline-end: 0.2em;
					position: relative;
				}

				&-title {
					color: #999999;
					display: block;
					font-size: 18px;
					margin-block: 0;
					position: relative;
				}
			}
		}
	}
}
